
.studioWrap {
  display: flex;
  &__sidebar {
    flex: 2;
    background-color: #171717;
    padding: 20px 15px;
  }
  &__contain {
    flex: 8;
    background-color: var(--primary-color);
  }
  &__logo {
    img {
      width: 150px;
      height: auto;
    }
  }
  &__item{
      display: flex;
      background-color: #233b38 ;
      border-radius: 5px;
       margin-bottom: 10px;
       padding: 10px 10px;
      .icon {
            color: var(--primary-color);
            
            margin-right: 10px;
           
            
        }
        span{
            color: var(--primary-color);
        }
    
  }
}
